In [1]:
import pandas as pd
b=pd.Series([1,2,3])
print(b.describe())

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [4]:
b.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [5]:
b.count()

3

In [6]:
b.max()

3

In [7]:
b.min()

1

In [8]:
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [9]:
df.max()

X    96
Y    94
Z    97
dtype: int64

In [10]:
df.min()

X    78
Y    83
Z    72
dtype: int64

In [12]:
df.shape

(5, 3)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       5 non-null      int64
 1   Y       5 non-null      int64
 2   Z       5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes

In [14]:
df.std()

X     7.000000
Y     4.438468
Z    10.281051
dtype: float64

In [15]:
df.isnull()

       X      Y      Z
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

In [16]:
df.isnull().sum()

X    0
Y    0
Z    0
dtype: int64