In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("normal.csv")
df

   length  width  height
0   168.8   64.1    48.8
1   168.8   64.1    48.8
2   180.0   65.5    52.4

## simple feature scaling

In [2]:
df["length"]=df["length"]/df["length"].max()
df

     length  width  height
0  0.937778   64.1    48.8
1  0.937778   64.1    48.8
2  1.000000   65.5    52.4

## min,max method

In [3]:
df["width"]=df["width"]-df["width"].min()/df["width"].max()-df["width"].min()
df

     length     width  height
0  0.937778 -0.978626    48.8
1  0.937778 -0.978626    48.8
2  1.000000  0.421374    52.4

## z - score

In [7]:
df1=pd.DataFrame(df)
df["height"]=(df["height"]-df["height"].df.mean())/df["height"].std()
df1

AttributeError: 'Series' object has no attribute 'df'